@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 .swiper-button-prev {
    display: none !important;
 }
 .swiper-button-next {
    background-color: white;
    padding: 1.25rem;
    border-radius: 9999px;
    z-index: 50;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
 }

 .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 16px !important;
 }

 .btn-primary {
    background-color: var(--color-primary, #3b82f6);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 200ms;
 }

 .btn-primary:hover {
    background-color: var(--color-secondary, #ef4444);
    color: white;
 }

html {
   scroll-behavior: smooth;
}